pyrubberband
soundfile
numpy
google-cloud-storage
google-cloud-texttospeech
google-cloud-translate
google-cloud-speech
moviepy
pre-commit
black
docopt
boto3
requests_oauthlib
numpy
librosa
pyyaml
numba
google_auth_oauthlib
